<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.simplypay.demoapp" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="app.simplypay.utils.DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".infrastructure.activity.SplashScreenActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="0536134ea9ec69fa467ff2d76607a4796d2907eb" />

        <activity
            android:name=".infrastructure.activity.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
    </application>

</manifest>
